.footer-container{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 27px 0px 37px;
    border-top: 1px solid rgb(229, 234, 234);
    background-color: rgb(255, 255, 255);
}

.footer-inner{
    width: 930px;
    margin: 0px auto;
}

.footer-info{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(210, 215, 215);
}
.footer-wrapperinfo{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.footer-logo{
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
}
.footer-ul{
    height: 100%;
}
.footer-li{
    display: inline-flex;
    height: 100%;
    position: relative;
    transition: all 0.3s ease 0s;
}
.footer-link{
    position: relative;
    font-size: 0.875rem;
    cursor: pointer;
    padding: 1.25rem 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: color 0.2s ease-in-out 0s;
    font-weight: 400;
    color: rgb(171, 177, 177);
}