body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
}

.login {
    border: 2px solid black;
    width: 250px; 
    padding: 20px; 
    border-radius: 10px;
}

.box {
    margin-bottom: 15px;
}

input {
    padding: 5px;
    width: calc(100% - 10px);
}

button {
    margin-top: 15px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px; 
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: blue;
}


